/* Color
----------------------- */
$background-color-primary: #5d47ee;

$color-primary: #4132c7;
$color-white: #ffffff;
$color-black: #0c0b0e;

$color-text-primary: #333333;
$color-text-secondary: #666666;
$color-text-tertiary: $color-white;
$color-text-quaternary: $color-primary;

$border-color-base: #e5e5e5;

$background-color-primary: #f1f1f1;
$background-color-secondary: $color-white;
$background-color-tertiary: $color-primary;

/* Border
----------------------- */
$border-width-base: 1px !default;
$border-style-base: solid !default;
$border-base: $border-width-base $border-style-base $border-color-base !default;


$global-font-family: 'Overpass';
$global-color: #3A3543;
$global-emphasis-color: #4132C7;
$global-link-color: #5D47EE;
$global-muted-color: #B19EFF;
$global-link-hover-color: #8973FA;
$global-background: #FFFFFF;
$global-danger-background: #E75856;
$global-muted-background: #FCFBFE;
$global-primary-background: #5D47EE;
$global-secondary-background: #4132C7;
$global-success-background: #4BCBA7;
$global-warning-background: #EF8D23;

//
// Base
//

$base-selection-background: #F4F0FF;

//
// Button
//

$button-hover-background-position-x: 0;

//
// Navbar
//

@font-face {
  font-family: 'osmiler-title';
  src: url('/static/osmiler-regular-webfont.woff2') format('woff2'),
       url('/static/osmiler-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

$navbar-background: #FFFFFF;
$navbar-nav-item-color: #3A3543;
$navbar-nav-item-line-background: rgba(0, 0, 0, 0);
$navbar-nav-item-line-position-mode: bottom;
$navbar-primary-nav-item-color: rgba(0, 0, 0, 0.23);
$navbar-primary-nav-item-active-color: rgba(0, 0, 0, 0.99);
$navbar-dropdown-background: #FAF8FE;
$navbar-dropdown-color: #3A3543;
$navbar-dropdown-nav-item-color: #6F6B78;
$navbar-dropdown-nav-item-hover-color: #8973FA;
$navbar-dropdown-nav-item-active-color: #0C0B0E;
$navbar-dropdown-nav-header-color: #3A3543;
$navbar-dropdown-nav-sublist-item-color: #6F6B78;
$navbar-dropdown-nav-sublist-item-hover-color: #8973FA;
$navbar-dropdown-nav-sublist-item-active-color: #6F6B78;
$navbar-dropbar-background: #FCFBFE;

//
// Text
//

$text-danger-color: #E75856;
$text-muted-color: #6F6B78;
$text-primary-color: #3A3543;
$text-success-color: #4BCBA7;
$text-warning-color: #EF8D23;


