:root {
  // Internal color variables
  @include generate-color-variants(--_c-blue-primary, #5d47ee);
  @include assign-color-variants(--c-primary, --_c-blue-primary);
  @include assign-color-variants(--c-primary-varint, --_c-blue-secondary);
  @include assign-color-variants(--c-primary-varint, --_c-blue-secondary);
  --_c-green-secondary: #b19eff;
  font-family: 'Overpass', sans-serif;
  --font-family--primary: 'Overpass', sans-serif;
  --font-family--secondary: 'Roboto', serif;
  --button-border-radius: 4px;
}
