:root {
  // Internal color variables
  @include generate-color-variants(--_c-blue-primary, #5d47ee);
  @include assign-color-variants(--c-primary, --_c-blue-primary);
  @include assign-color-variants(--c-primary-varint, --_c-blue-secondary);
  @include assign-color-variants(--c-primary-varint, --_c-blue-secondary);
  --_c-green-secondary: #b19eff;
  font-family: 'Overpass', sans-serif;
  --font-family--primary: 'Overpass', sans-serif;
  --font-family--secondary: 'Roboto', serif;
  --button-border-radius: 4px;
}
#page\#0-0-0-0 {
  font-family: 'osmiler-title';
}
#page\#0-0-0-2 {
  margin-top: 40px;
}
@media (min-width: 960px) {
  #page\#0-0-0 {
    max-width: 453px;
  }
  #page\#0-0-0 .uk-tile {
    padding-left: 0;
  }
}
#page\#1-1-0-0 {
  font-family: 'osmiler-title';
}
@media (min-width: 960px) {
  #page\#1-1-0 {
    max-width: 453px;
  }
  #page\#1-1-0 .uk-tile {
    padding-left: 0;
  }
}
#page\#1 {
  background: #411e7b;
}
#page\#2-0-0-0 .el-item {
  padding-bottom: 24px;
}
#page\#2-0-0-0 .el-title {
  font-size: 20px;
}
@media (min-width: 960px) {
  #page\#3-0-1-0 {
    font-family: 'osmiler-title';
  }
  #page\#4-0-0-0 {
    font-family: 'osmiler-title';
    padding-top: 32px;
  }
  #page\#4-0-0-2 {
    height: 350px;
  }
  #page\#6-0-0-0 {
    font-family: 'osmiler-title';
  }
  #page\#6-0-0-2 {
    height: 16px;
  }
  #page\#6-0-0-3 {
    width: 500px;
  }
  #page\#6-0-0-4 {
    height: 32px;
  }
  #page\#7-0-0-0 {
    font-family: 'osmiler-title';
    padding-top: 30px;
  }
  #page\#7-0-0-2 {
    width: 60%;
  }
  #page\#7-0-0-4 {
    height: 300px;
  }
  #page\#8-0-0-0 {
    font-family: 'osmiler-title';
  }
  #page\#9-0-0-0 {
    font-family: 'osmiler-title';
    padding-top: 24px;
  }
  #Mp3 {
    background: #37487e;
  }
  #page\#10-0-0-0 {
    font-family: 'osmiler-title';
  }
  #page\#10-0-0-2 {
    height: 16px;
  }
  #page\#10-0-0-4 {
    height: 16px;
  }
}
@media (max-width: 959px) {
  #page\#10-0-1-0.uk-container-item-padding-remove-right {
    width: 100%;
    margin-right: 0;
  }
}
#page\#11-0-0-0 {
  font-family: 'osmiler-title';
}
@media (max-width: 959px) {
  #page\#11-1-0-0.uk-container-item-padding-remove-right {
    width: 100%;
    margin-right: 0;
  }
}
#page\#12-0-1-0 {
  font-family: 'osmiler-title';
}
#page\#12 {
  background: #475b99;
}
#page\#13-0-0-0 {
  font-family: 'osmiler-title';
  padding-top: 32px;
}
#page\#13 {
  background-color: #475b99;
}
#page\#14-0-0-0 {
  font-family: 'osmiler-title';
  padding-top: 32px;
}
#page\#15-0-0-0 {
  font-family: 'osmiler-title';
  padding-top: 32px;
}
#page\#15 {
  background-color: #3d4dac;
}
#page\#16-0-0-0 {
  font-family: 'osmiler-title';
  padding-top: 30px;
}
#page\#16-1-0-0 .el-title {
  font-family: 'osmiler-title';
}
#page\#17-0-0-0 {
  font-family: 'osmiler-title';
  padding-top: 30px;
}
#page\#17-1-0-0 .el-title {
  font-family: 'osmiler-title';
}
#page\#17-2-0-0 {
  height: 350px;
}
#page\#17-2-0-1 {
  height: 380px;
}
#page\#18-0-0-0 {
  font-family: 'osmiler-title';
  padding-top: 32px;
}
#page\#18 {
  background: #475b99;
}
#page\#19-0-0-0 {
  font-family: 'osmiler-title';
  padding-top: 32px;
}
#page\#19 {
  background-color: #475b99;
}
#page\#20-0-0-0 {
  font-family: 'osmiler-title';
}
#page\#20-0-0-1 .el-item {
  padding: 16px;
}
#page\#20-0-0-2 {
  height: 16px;
}
#page\#20 {
  background-color: #1d0c44;
}
#page\#20 {
  padding-top: 48px;
  padding-bottom: 48px;
}
#page\#21-0-0-0 {
  font-family: 'osmiler-title';
}
#page\#21-0-0-1 .el-item {
  border-radius: 10px;
}
#page\#21-1-0-1 {
  height: 24px;
}
#page\#22-0-0-0 {
  font-family: 'osmiler-title';
}
#page\#23-0-0-0 {
  font-family: 'osmiler-title';
}
#page\#25-0-0-0 {
  height: 32px;
}
#page\#25-0-0-1 .el-title {
  font-family: 'osmiler-title';
}
#subscribe {
  background: #f4f0ff;
}
#page\#26-0-0-0 {
  font-family: 'osmiler-title';
  color: #3a3543;
}
#page\#26-0-0-1 {
  color: #3a3543;
}
