@font-face {
  font-family: 'osmiler-title ';
  src: url('/static/osmiler-regular-webfont.woff2') format('woff2'),
    url('/static/osmiler-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
